<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <h1>Realtime</h1>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Hole 1</th>
                        <th>Hole 2</th>
                        <th>Hole 3</th>
                        <th>Hole 4</th>
                        <th>Hole 5</th>
                        <th>Hole 6</th>
                        <th>Hole 7</th>
                        <th>Hole 8</th>
                        <th>Hole 9</th>
                        <th>Hole 10</th>
                        <th>Hole 11</th>
                        <th>Hole 12</th>
                        <th>Hole 13</th>
                        <th>Hole 14</th>
                        <th>Hole 15</th>
                        <th>Hole 16</th>
                        <th>Hole 17</th>
                        <th>Hole 18</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="realtime in realtimes">
                        <td>
                            {{ realtime.hole_1 }}
                        </td>
                        <td>
                            {{ realtime.hole_2 }}
                        </td>
                        <td>
                            {{ realtime.hole_3 }}
                        </td>
                        <td>
                            {{ realtime.hole_4 }}
                        </td>
                        <td>
                            {{ realtime.hole_5 }}
                        </td>
                        <td>
                            {{ realtime.hole_6 }}
                        </td>
                        <td>
                            {{ realtime.hole_7 }}
                        </td>
                        <td>
                            {{ realtime.hole_8 }}
                        </td>
                        <td>
                            {{ realtime.hole_9 }}
                        </td>
                        <td>
                            {{ realtime.hole_10 }}
                        </td>
                        <td>
                            {{ realtime.hole_11 }}
                        </td>
                        <td>
                            {{ realtime.hole_12 }}
                        </td>
                        <td>
                            {{ realtime.hole_13 }}
                        </td>
                        <td>
                            {{ realtime.hole_14 }}
                        </td>
                        <td>
                            {{ realtime.hole_15 }}
                        </td>
                        <td>
                            {{ realtime.hole_16 }}
                        </td>
                        <td>
                            {{ realtime.hole_17 }}
                        </td>
                        <td>
                            {{ realtime.hole_18 }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import firebase from 'firebase/app';
    import 'firebase/database'; // If using Firebase database
    import 'firebase/storage';  //

    export default {
        data () {
            return {
                realtimes: []
            }
        },
        mounted() {
            firebase.initializeApp(window.firebaseConfig);
                firebase.database().ref('realtimes/').on('value', (snapshot) => {
                    let realtimes = snapshot.val();
                    realtimes.filter(i => i != undefined);
                    console.log(realtimes);
                    this.realtimes = Object.assign({},realtimes);
            });
        }
    }
</script>
