<template>
    <div>
        <h1>Realtime</h1>
        <p>
            <router-link :to="{ name: 'home' }">Home</router-link>
            <router-link :to="{ name: 'live' }">Live</router-link>
            <router-link :to="{ name: 'score' }">Score</router-link>
            <router-link :to="{ name: 'realtime' }">Realtime</router-link>
        </p>

        <div class="container">
            <router-view></router-view>
        </div>
    </div>

</template>
<script>
    export default {
        name: 'App'
    }
</script>
